body {
  background-color: beige;
}
.product-card {
  position: relative;
  border: 2px solid #ddd;
  border-radius: 25px;
  padding: 5px;
  background-color: rgb(205, 230, 252);
  vertical-align: top;
  width: 300px;
  max-height: 500px;
  float: left;
  flex: 20%;
  margin: 5px;
}
@media screen and (max-width: 1370px) {
 .related-products-car .product-card:nth-child(5) {
    display: none;
  }
}
@media screen and (max-width: 1050px) {
  .related-products-car .product-card:nth-child(4) {
     display: none;
   }
 }
 @media screen and (max-width: 720px) {
  .related-products-car .product-card:nth-child(3) {
     display: none;
   }
 }

.product-card-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  border-color: azure;
  padding: 5px;
  height: 200px;
  align-content: center;
  width: 50%;
  flex: 20%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.related-products-car {
position: relative;
display: inline;
overflow: hidden;
height: 600px;
width: 100%;
max-width: 100vw;
padding-left: 70px;
object-fit: none;
-ms-flex-align: center;
margin-top: 20px;
}


.compare-modal-incard{
  text-align: right;
  width: 100%;
}
.compare-head {
  background-color: #4662d5;
  color: white;
  width: 100%;
}
.comparison-main-pop-up {
  position: fixed;
  text-align: center;
  padding: 1%;
  height: fit-content;
  top: 15%;
  left: 50%;
  background: white;
  transform: translate(-50%,-50%);
}
 /* .features-table {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 3;
} */




.carousal-next {
height: 430px;
width: 55px;
border: 2px solid rgb(227, 251, 255);
background-color: rgb(227, 251, 255);
border-radius: 25px;
}
.carousal-prev{
height: 430px;
width: 55px;
border: 2px solid rgb(227, 251, 255);
background-color: rgb(227, 251, 255);
border-radius: 25px;
}