.thumbnail-list > img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  cursor: pointer;
  border: black 1px solid;
}

.product-detail-main-img {
  min-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 70%;
  height: 650px;
  // border: 1px black solid;
  margin-right: 15px;
  overflow: hidden;
}

.product-detail-main-img > img {
  width: 100%;
  object-fit: fill;
}

.image-gallery {
  position: relative;
  span {
    &:nth-child(3) {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 60px;
      height: 60px;
      left: 40px;
      top: 50%;
      background-color: white;
      border: 1px solid black;
      cursor: pointer;
      &:hover{
        background-color: rgba(209, 208, 208, 0.698);
      }
      i{
        font-size: 1.2em;
        transform: scaleX(140%);
      }
    }
    &:nth-child(4) {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 60px;
      height: 60px;
      right: 40px;
      top: 50%;
      background-color: white;
      border: 1px solid black;
      cursor: pointer;
      &:hover{
        background-color: rgba(209, 208, 208, 0.698);
      }
      i{
        font-size: 1.2em;
        transform: scaleX(140%);
      }
    }
  }
}
.thumbnail-list {
  position: absolute;
  bottom: 5%;
  left: 30%;
}
