.thumbnail-list {
  position: absolute;
  bottom: 5%;
  left: 30%;
}
.thumbnail-list >img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  cursor: pointer;
  border: rgb(254, 254, 254) 1px solid;
  &:hover {
    transform: scale(110%);
  }
}

.hide-thumbnail {
  height: 0px !important;
  transition: height 0.2s linear !important;
}
.show-thumbnail {
  height: 35px !important;
  transition: height 0.2s linear !important;
}

#thumbnail-selected {
  box-shadow: 0 4px black;
}
.product-detail-main-img {
  min-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
  margin-right: 15px;
  overflow: hidden;
}
.product-detail-main-img > img {
  width: 100%;
  object-fit: fill;
}

.image-gallery {
  position: relative;
  & > span { //arrows
    border-radius: 3px;
    display: flex;
    justify-content: center;
    // align-items: center;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    &:hover{
      background-color: rgba(209, 208, 208, 0.698);
    }
    i{
      font-size: 1.2em;
      transform: scaleX(140%);

    }

    &:nth-child(3) { //left arrow
      left: 40px;
    }
    &:nth-child(4) {  //right arrow
      right: 40px;
    }
  }
}

@media (max-width: 1000px) and (min-width: 300px) {
  .hide-thumbnail {
    height: 35px !important;
    transition: height 0.2s linear !important;
  }
}