body {
  font-family: sans-serif, Helvetica, Arial;
}
.product-detail {
  position: relative;
  display: flex;
  flex-direction: column;
}
.product-detail-content {
  display: flex;
  flex-direction: row;
}
.product-detail-col {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 500px;
}
.product-overview {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  margin-left: 20px;
  width: 30%;
}
.product-title-mobible {
  display: none;
}

@media (max-width: 1000px) and (min-width: 300px) {
  .product-detail-content {
    flex-direction: column;
  }
  .product-detail-col {
    width: 100%;
    min-width: 500px;
  }
  .product-overview {
    width: 100%;
    margin-left: 0;
  }
  .product-title-mobible {
    display: block;
  }

}
