body {
  font-family: sans-serif, Helvetica, Arial;
}
.product-detail{
  display: flex;
  flex-direction: column;
}
.product-detail-content {
  display: flex;
  flex-direction: row;
}
.product-detail-col {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.product-overview {
  min-width: 350px;
  margin-left: 20px;
  width: 30%;
}