.product-detail-description {
  color: rgb(99, 98, 98);
  margin-right: 15px;
  display: flex;
  div {
    &:first-child { //left section of description
      width: 65%;
      h4 {
        font-size: 1.3em;
      }
    }
    &:nth-child(3) { //right section of description
      margin-top: 10px;
    }
  }
  span {
    border-right: 2px black solid; //verticle line
    margin: 8px 20px;
  }
}
.product-detail-mobile {
  display: none;
}
@media (max-width: 1000px) and (min-width: 300px) {
  .product-detail-description{
    display: none;
  }
  .product-detail-mobile {
    display: block;
  }
}