.product-detail-description {
  color: rgb(99, 98, 98);
  margin-right: 15px;
  display: flex;
  div {
    &:first-child {
      width: 65%;
    }
  }
  span {
    border-right: 2px black solid;
    margin: 8px 20px;
  }
}
